doctype html
html
    head
        title Home
    body
        h1 Home
        p
            | Welcome to the home page! Click
            a(href='/login') here
            |  to login or
            a(href='/protected') here
            |  to access the protected page.
