doctype html
html(lang="en")
    head
        meta(charset="UTF-8")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        title Token info
    body
        pre
            | Copy the code and run from browser console to save token into local storage like this:
            | localStorage.setItem("token", "#{token}")