doctype html
html
    head
        title Users
    body
        ul(style="list-style-type: none;")
            each u in users
                li(style="margin-bottom: 10px;") #{u.username}  - #{u.password}
                    br
                    b #{u.id}
                hl